.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9rem 2rem;
}

.hero__logo {
  width: 20rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.hero__title {
  font-weight: 300;
  font-size: 3.5rem;
  color: #C6C6C6;
  margin-top: 5rem;
}

.hero__titleSecondary{
  font-size: 2.2rem;
  font-weight: 300;
  margin-top: 3rem;
}

.hero__actionContainer {
  display: flex;
  margin-top: 7rem
}

.hero__buttonIcon {  width: 2.8rem; }

.hero__actionButton:not(:last-child) {
  margin-right: 5rem;
}

@media (max-width: 480px) {
  .hero__logo {
    width: 15rem;
  }

  .hero__actionContainer {
    flex-direction: column;
    align-items: center;
  }

  .hero__actionButton:not(:last-child) {
    margin: 0;
    margin-bottom: 2rem;
  }
}

.exampleList {
  
}

.exampleItem {

}