
@import './fonts/fonts.css';
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap'); */
html {
  font-size: 50%;
}

body {
  background: #FBFBFB;
  font-family: iranyekan;
  display: flex;
  justify-content: center;
  padding-top: 10rem;
  height: 100vh;
  /* font-family: 'Open Sans', sans-serif; */

}
