
@import './fonts/fonts.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 50%;
  height: 100%;
}

body {
  background: #FBFBFB;
  /* font-family: iranyekan;  for Persian playground */
  font-family: 'Open Sans';
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10rem;
  height: 100%;
}
