.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-white);
  padding: 2rem 4rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  min-height: 7.5rem;
}

.Navbar__titleContainer {
  display: flex;
  align-items: center;
}

.Navbar__title {
  font-size: 1.7rem;
  font-weight: 300;
  text-transform: uppercase;
  padding: 1rem;
}

.Navbar__logo {
  width: 3.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  margin-right: 0.5rem;
}

.Navbar__version {
  font-size: 1.3rem;
  margin-left: 0.5rem;
  margin-bottom: -0.5rem;
}

.Navbar__list {
  display: flex;
  font-size: 1.6rem;
}

.Navbar__listItem {
  display: block;
  padding: 0.5rem;
  padding-bottom: 0.8rem;
  position: relative;
}

.Navbar__listItem::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 2px;
  background: var(--color-primary);
  left: 50%;
  transform: translateX(-50%);
  transition: 0.2s;
}

.Navbar__listItem:hover::after { width: 50%; }

.Navbar__list li:not(:last-child) {
  margin-right: 3.5rem;
}

@media (max-width: 767.98px) {
  .Navbar {
    flex-direction: column;
    padding: 0;
  }

  .Navbar__titleContainer {
    align-self: flex-start;
    padding: 1.5rem;
  }

  .Navbar__list {
    width: 100%;
    background: #F5F5F5;
  }

  .Navbar__list > li {
    flex: 1;
  }

  .Navbar__listItem {
    padding: 1.5rem;
    flex: 1;
    text-align: center;
    color: #4587d3;
    font-size: 2rem;
  }

  .Navbar__listItem::after {
    display: none;
  }
}

@media (max-width: 475px) {
  .Navbar__titleContainer {
    align-self: center;
  }
}