
@import './fonts/fonts.css';

html {
  font-size: 50%;
}

body {
  background: #FBFBFB;
  font-family: iranyekan;
  display: flex;
  justify-content: center;
  padding-top: 10rem;
  height: 100vh;
}
