.DocsNav {
  height: 100%;
  width: 35rem;
  padding-left: 15rem;
  position: fixed;
  left: 0;
}

.DocsNav__section:not(:last-child) {
  margin-bottom: 2.5rem;
}

.DocsNav__sectionTitle {
  display: block;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.DocsNav__list {
  display: flex;
  flex-direction: column;
}

.DocsNav__listItem {
  font-size: 1.5rem;
  padding: 0.7rem 1.2rem;
  margin-left: -1.2rem;
  transition: 0.3s;
  color: #4589d6;
}

.DocsNav__listItem.-active {
  background: rgb(238, 247, 253);
}

.DocsNav__listItem:hover {
  color: #2b507a;
}

@media (max-width: 1440px) {
  .DocsNav {
    width: 30rem;
    padding-left: 12rem;
  }
}

@media (max-width: 1290px) {
  .DocsNav {
    width: 22rem;
    padding-left: 7rem;
  }
}

@media (max-width: 767.98px) {
  .DocsNav {
    display: none;
  }
}