.DatePicker {
  position: relative;
}

.DatePicker__input {
  border: none;
  background: #fff;
  border: 1px solid #ddd;
  padding: 0.4rem 0.8rem;
  font-family: inherit;
  text-align: center;
  border-radius: 3px;
  outline: none;
  font-size: 0.8rem;
}

.DatePicker__input::placeholder { color: #979797; }

.DatePicker__calendarContainer {
  position: absolute;
  top: calc(100% + 2em);
  left: 50%;
  transform: translateX(-50%);
}
